@model IEnumerable<DemoCVReader.sp_AnalyseSkillSetForTextualInfo_Result>

@{
    ViewBag.Title = "UploadCV";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style type="text/css">
.columndata {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.rowss:after {
    content: "";
    display: table;
    clear: both;
}
</style>


<div class="title">
    <h4 class="title">Analysis Report</h4>
</div>

<div class="rowss">
    <div class="columndata">
@foreach (var item in Model)
    {

    <span class="btn btn-rose btn-raised" >@item.Category <span class="badge badge-success">New</span></span>    
<ul class="list-group">
@{
    string[] skillsset = item.Skills.Split(',');
    foreach (string skill in skillsset)
    {
        <li class="list-group-item rounded">@skill</li>

    }
}
</ul>

}

    </div>
    <div class="columndata">

        <iframe id='iframe2' frameborder="0" style="width:600px;height:700px" src="@ViewBag.PdfFile"></iframe>

    </div>
</div>






